# Diese Datei kopieren nach .env.deploy.local und dort das Passwort eintragen.
# .env.deploy.local wird durch .gitignore ausgeschlossen.
FTP_HOST="w01267fe.kasserver.com"
FTP_USER="krankenfahrtenhg"
FTP_PASSWORD=""

FTP_TEST_DIRECTORY="/test.krankenfahrten-bad-homburg.de/"
FTP_LIVE_DIRECTORY="/krankenfahrten-bad-homburg.de/"

TEST_SITE_URL="https://test.krankenfahrten-bad-homburg.de"
LIVE_SITE_URL="https://krankenfahrten-bad-homburg.de"
